@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  background-color: #FC7A1D;
}

.text{
  color: white;
}

.men{
  background-color: #E7E7E7;
}

.text2{
  color: #A958FA;
}

.color{
  background-color: #F3F3F3;
}

.blur-image {
  filter: blur(1px); 
  transition: 2s; 
}
.blur-image:hover {
  filter: blur(0);
}

.scale {
  transition: 0.5s;
 }
 .scale:hover {
  transform: scale(1.1);
 }

 .scalee {
  transition: 0.5s;
 }
 .scalee:hover {
  transform: scale(1.5);
 }

 .scaleee {
  transition: 0.5s;
 }
 .scaleee:hover {
  transform: scale(1.05);
 }
     